.input {
    width: 100%;
}

/* button, [type='button'] {
    background-color: #1677ff;
} */

.bg-red {
    background-color: red !important;
}

.bg-green {
    background-color: green !important;;
}

.bg-orange {
    background-color: orange !important;
}

.bg-yellow {
    background-color: yellow !important;
}

.color-white {
    color: white !important;
}

.bg-blue {
    background-color: #1677ff !important;
     

     /* background-color: blue; */
}

.with-100 {
    width: 100% !important;
}

.with-anh {
    width: 200px !important;
    height: 200px !important;
}

.card {
    width: 100%;
}

.price {
    height: 30px !important;
}
/* .card img {
    width: 25%;
    height: 100px  !important;
    display: flex !important;
    justify-content: center !important;
} */

.card h4 {
    height: 50px !important;
}

.with-anh {
    width: 336px !important;
    height: 336px !important;
    margin: 0 auto !important;;
}

/* .container-77{
    width: 77% !important;
    margin:  0 auto !important;
} */